attrs==21.4.0
click==8.0.3
Flask-SQLAlchemy==2.5.1
Flask==2.0.2
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.4.0
MarkupSafe==2.0.1
pip==21.1.2
pyrsistent==0.18.0
setuptools==57.0.0
SQLAlchemy==1.4.29
Werkzeug==2.0.2
wheel==0.36.2
zipp==3.7.0
